// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

//  Website Colors:
$primary-color: #23CE6B; //GREEN

$secondary-color: #697081; //BLUE-GRAY
$secondary-color-light: #EBEBEB;

$third-color: #522B29; //RED
$third-color-dark: #A42522;

$fourth-color: #2D3142; //DARK BLUE
$fifth-color: #252323; //ONYX