
.about-us {
	width: 100%;

	&_section-one {

		header {
		  position: relative;
		  height: 400px;
		  width: 100%;
		  background-image: linear-gradient($primary-color, $primary-color);
		  border-bottom-left-radius: 50% 20%;
		  border-bottom-right-radius: 50% 20%;

		  & h3 {
		  	margin-top: 8rem;
		  	color: white;
		  	text-align: center;
		  	font-family: $main-font;
		  	font-weight: 400;
		  	font-size: 30px;
		  }

		  & h4 {
		  	color: white;
		  	text-align: center;
		  	font-family: $main-font;
		  	font-weight: 300;
		  	font-size: 30px;
		  }
		}

		width: 100%;
		height: 100%;
		background: white;
		position: relative;

		display: flex;
		justify-content: space-around;
		align-items: center;

		& span:nth-child(2) {
			box-shadow: 1px black;
			width: 550px;
			height: 350px;
			// margin: 1rem;
			background-image: url('https://s3.eu-west-2.amazonaws.com/kuuka/images/elias.jpg');
			background-size: cover;
			position: absolute;
				top: 80%;
			border-radius: 3px;
			box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
			transition: all 1s ease-in-out;

			&:hover {
				transform: scale(1.1)
			}
		}

		& span:nth-child(3) {
			background-image: url('https://s3.eu-west-2.amazonaws.com/kuuka/images/elias.jpg');
			background-size: cover;
			border-radius: 50%;
			width: 250px;
			height: 250px;
			box-shadow: 1px black;
			position: absolute;
				top: 80%;
		}	
	}

	&_section-two {
		width: 100%;
		height: 500px;
		background: white;

		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 2.5rem;

		& p {
			font-size: 16px;
			font-family: $main-font;
			font-weight: 300;
			color: $secondary-color;
			padding-bottom: 10px;
			width: 500px;
			text-align: center;
		}	
	}

	&_section-three {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		& span {
			background-image: url('https://s3.eu-west-2.amazonaws.com/kuuka/images/kuuka_about-us_icons3.png');
			background-size: contain;
			background-repeat: no-repeat;
			width: 500px;
			height: 300px;
			margin: 1rem 1rem 1rem 1rem ;
		}

		& div {
			display: flex;
			flex-direction: column;
			align-items: left;
			margin: 3rem 3rem 3rem 3rem;
			width: 500px;

			& h3 {
				font-size: 30px;
				color: $secondary-color;
				margin: 2rem;
				text-align: left;
			}


			& p {
				font-size: 16px;
				font-family: $main-font;
				font-weight: 300;
				color: $secondary-color;
				line-height: 20px;
			}

		}	
	}

	&_section-four {
		width: 100%;
		height: 50px;
		background: $secondary-color;
		@extend .flex-v-h-center;
		color: white;
		font-size: $main-font;
		
		& p {
			margin: 0;
			font-size: 20px;
			font-weight: 300;
			font-family: $main-font;
		}

		& a {
			color: white;
			border: 1px solid white;
			padding: 5px 70px;
			border-radius: 50px;
			margin: 0 2rem;
			font-size: 20px;
			font-weight: 300;
			font-family: $main-font;
			transition: all 0.4s ease-in-out;

			&:hover {
				text-decoration: none;
				background: white;
				opacity: 0.7;
				color: $secondary-color;
			}
		}
	}
}