.fa-check {
	color: $primary-color;
	padding: 10px;
}

.home {
	width: 100%;

	&_section-one {
		width: 100vw;
	}

	&_section-two {
		height: 500px;
		min-height: 500px;
		width: 100%;
		background-image: url('https://s3.eu-west-2.amazonaws.com/kuuka/images/kuuka_background2.png');
		background-size: cover; 
		background-position: bottom;
		opacity: 0.8;

		& h3 {
			font-family: $main-font;
			color: black;
			border-bottom: 2px solid $primary-color;
		}

		& div {
			width: 50%;
			font-size: 15px;
			color: $secondary-color;
			display: flex;
			flex-direction: column;
			padding: 3rem;
		}

		& a {
			width: 200px;
			color: white;
			margin: 1rem 0rem;
			padding: 0.3rem 0.6rem;
			background: $third-color;
			text-align: center;
			border-radius: 5px;
			box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
			transition: transform 0.5s ease-in-out;

			&:hover {
				background: $third-color-dark;
				text-decoration: none;
				box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
				transform: translateY(-3px);
			}
		}	
	}

	&_section-three {
		width: 100%;
		height: 400px;
		min-height: 400px;
		background: $primary-color;
		display: flex;
		justify-content: space-around;
		align-items: center;

		& img:nth-child(1) {
			max-width: 210px;
			height: auto;
			width: 300px;
			transition: all 0.5s ease-in-out;

			&:hover {
				transform: scale(1.03);
			}
		}

		& img:nth-child(2) {
			max-width: 250px;
			height: auto;
			width: 300px;
			transition: all 0.5s ease-in-out;

			&:hover {
				transform: scale(1.03);
			}
		}

		& img:nth-child(3) {
			max-width: 230px;
			height: auto;
			width: 300px;
			transition: all 0.5s ease-in-out;

			&:hover {
				transform: scale(1.03);
			}
		}			
	}

	&_section-four {
		height: 600px;
		min-height: 600px;
		background-image: url('https://s3.eu-west-2.amazonaws.com/kuuka/images/kuuka_home5.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;	
	}

	&_section-five {
	 	height: 300px;
	 	background-image:
	 		linear-gradient(
	 			rgba(120,120,120,0.99),
	 			rgba(120,120,120,0.8),
	 			),
	 		url('https://s3.eu-west-2.amazonaws.com/kuuka/images/adventure-backlit-community-207896.jpg');
	 		background-size: cover;
	 		background-position: center bottom;

	 		display: flex;
	 		flex-direction: column;
	 		justify-content: center;
	 		align-items: center;	

	 	& p:nth-child(1) {
	 		color: white;
	 		margin: 0;
	 		font-family: $main-font;
	 		font-weight: 500;
	 		font-size: 28px;
	 	}

	 	& p:nth-child(2) {
	 		color: white;
	 		margin: 0;
	 		font-family: $main-font;
	 		font-weight: 300;
	 		font-size: 22px;
	 	}

	 	& a {
	 		color: white;
	 		margin: 0;
	 		font-family: $main-font;
	 		font-weight: 400;
	 		font-size: 22px;
	 	}
	}
}