<div class="about-us no-gutters">

	<section class="about-us_section-one">
		
		<header>
			<h3>Elias Kuyela</h3>
			<h4>Founder of Kuuka Technologies</h4>
		</header>
		<span class="hidden-xs"></span>
		<span class="hidden-lg hidden-md hidden-sm"></span>

	</section>
	<section class="about-us_section-two">
		<p>
			Elias Kuyela is the founder and Chief Executive Officer at KuuKa. He studies Business Management at University of Westminster.<br><br> Elias has been found in several occassions struggling with moving services which enabled him to start researching how the current moving platforms work. Having studied the different elements involved in vehicles, geolocation services, route efficiency and all the necessary technology to develop and app that could improve this industry, Elias founded KuuKa Technologies in 2017.
		</p>
	</section>
	<section class="about-us_section-three">
		<span>
			<!-- IN HERE GOES THE IMAGE -->
		</span>
		<div>
			<h3>Current Status</h3>
			<p>
			At present, we are currently developing our mobile and web app. We aim to have both platforms ready and deployed for beta testing by second quarter 2019.<br><br> We are currently searching for partners and providers with related activities. If you are interested in our idea please contact us at elias.kuyela@kuukatechnologies.com and help us make logistics supply better.
			</p> 
		</div>
	</section>
</div>