<% if mobile? %>  
<%= render 'mobile-about_us' %>
<% else %>
	<div class="about-us">
		<section class="about-us_section-one">
			
		</section>
		<section class="about-us_section-two">
			
		</section>
		<section class="about-us_section-three">
			
		</section>
		<section class="about-us_section-four">
			<p>Get in touch with us</p>
			<%= link_to "Here", contact_path %>
		</section>
	</div>
<% end %> 