<div class="about-us no-gutters">

	<section class="about-us_section-one">
		
		<header>
			<h3>Elias Kuyela</h3>
			<h4>Founder of Kuuka Technologies</h4>
		</header>
		<span class="hidden-xs"></span>
		<span class="hidden-lg hidden-md hidden-sm"></span>

	</section>
	<section class="about-us_section-two">
		<p>
			Elias Kuyela is the founder and  the Chief Executive Officer at KuuKa. Elias studies Business Management from University of Westminster. His strong entrepreneurial spirit lead him to dive into the startup world and founded KuuKa Technologies in 2017 from his living room.  He is currently in charge of all business operations at Kuuka.  Currently based in London, United Kingdom.
		</p>
	</section>
	<section class="about-us_section-three">
		<span>
			<!-- IN HERE GOES THE IMAGE -->
		</span>
		<div>
			<h3>Current Status</h3>
			<p>
			At present, the company is currently developing its mobile web app. We aim to have the mobile IOS and Android applications available in 2019. The company is currently looking for companies and individuals to partner with.<br><br> We also looking for investment so if you like KuuKa Tech and would like to invest , please contact Kuuka Technologies at elias.kuyela@kuukatechnologies.com and help us make logistics supply better.
			</p> 
		</div>
	</section>
</div>