<% if mobile? %>   
<%= render 'mobile-home' %>
<% else %>
	<div class="homne">
		<section class="home_section-one">

			<!-- HOME SVG -->
			<svg width="100%" height="100%" viewBox="0 0 1440 650" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 0H1440V532.503L0 650V0Z" fill="#777777"/>
			<path d="M0 0H1440V532.503L0 650V0Z" fill="url(#paint0_linear)"/>
			<defs>
			<linearGradient id="paint0_linear" x1="720" y1="840.493" x2="720" y2="140.141" gradientUnits="userSpaceOnUse">
			<stop stop-color="#777777"/>
			<stop offset="1" stop-color="#DBDBDB" stop-opacity="0"/>
			</linearGradient>
			</defs>
			</svg>

		</section>
		<section class="home_section-two">
			
		</section>
		<section class="home_section-three">
			
		</section>
		<section class="home_section-four">
			<div class="card">
				<h3>I'm a User</h3>
				<p><i class="fas fa-check"></i> I need a smart phone</p>
				<p><i class="fas fa-check"></i>Download app (IOS & Android)</p>
				<p><i class="fas fa-check"></i>Sign Up at Kuuka.com</p>
				<p><i class="fas fa-check"></i>Create Gig and bid price</p>
				<%= link_to 'Learn More', about_us_path %>
			</div>
			<div class="card">
				<h3>I'm a Driver</h3>
				<p><i class="fas fa-check"></i>I need a Driver's License</p>
				<p><i class="fas fa-check"></i>Provide an Insurance Policy</p>
				<p><i class="fas fa-check"></i>Up to date Vehicle Inspection</p>
				<p><i class="fas fa-check"></i>Own a SmartPhone </p>
				<%= link_to 'Learn More', about_us_path %>
			</div>
		</section>
		<section class="home_section-five">
		  <p>We are expanding our community</p>
		  <p>stay in touch with us <%= link_to "here", contact_path %></p>
		</section>
	</div>
<% end %>