.hoxton-link {
  color: white;
  font-size: 12px;
  position: absolute;
    right: 3.5%;

  & a {
    color: white;
    transition: all 0.5s ease-in-out;

    &:hover {
      font-size: 14px;
      text-decoration: none;
      color: white;
    }
  }
}

.footer {
  height: 300px;;
  width: 100%;
  background: $primary-color;
  position: relative;

  &_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 

    & p {
      margin: 0;
    }

    &_details {
      font-size: 12px;
      font-family: $main-font;
      font-weight: 300;
      padding: 2rem;
      color: white;
      line-height: 30px;
    }

    &_legal {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      padding: 2rem;
      line-height: 30px;
      color: white;
      text-align: right;

      & a {
        color: white;

        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  
  &_social-media {
    
    // GRAY LABEL SIZE AND POSITION
    position: absolute;
      bottom: 15%;
    height: 50px;
    width: 100%;
    background: $primary-color;
    @extend .flex-v-h-center;

    & p:first-child {
      margin: 0;
      font-family: $main-font;
      color: white;
      font-weight: 300;
      font-size: 14px;
      position: absolute;
        left: 3.5%;
    }

    &_icons {
      height: 100%;
      width: 100%;
      @extend .flex-v-h-center;

        & i {
          font-size: 18px;
          color: $secondary-color;
          background: white;
          width: 40px;
          height: 40px;
          margin: 0.2rem;
          border-radius: 50px;
          @extend .flex-v-h-center;
        }

        & a {
          transition: all 0.5s ease-in-out;
        }

        & a:hover {
          text-decoration: none;
          transform: scale(1.1);
        }

    }
  }
}