// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "card";

.flex-v-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}